body {
    background-color: #e8e8e8;
    padding: 2rem 10rem;
    position: relative;
}

img {
    width: 200;
    height: 200;
}

hr {
    background-color: white;
    border-style: none;
    height: 1px;
}